/* Secret Life of Trees specific styles */
body {
    font-family: 'Tahoma', sans-serif;
    background-color: #F4ECE8;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #A34A28;
    color: white;
}

h2 {
    color: #A34A28;
}

section {
    background-color: #FFE8D6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

body.light-mode {
    background-color: #F4ECE8;
    color: black;
}

body.dark-mode {
    background-color: #4A2A24;
    color: white;
}