/* Tree Personality specific styles */
body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #F3F0E1;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #006D77;
    color: white;
}

h2 {
    color: #006D77;
}

section {
    background-color: #B7B7A4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

body.light-mode {
    background-color: #F3F0E1;
    color: black;
}

body.dark-mode {
    background-color: #2F3E46;
    color: white;
}